/* Banner */

.banner {
    display: grid;
    gap: 1rem;
}

.banner img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
}

.banner img:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/4;
}

/* Eventos */

.eventos__item {
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-rows: repeat(3, auto);
}

.eventos__item img {
    grid-column: 1/3;
    grid-row: 1/2;
}

.eventos__item h3 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.eventos__item h4 {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
}

.eventos__item h5 {
    grid-column: 1/2;
    grid-row: 4/5;
    align-self: end;
}

.eventos__item button {
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: end;
}

@media screen and (min-width: 720px) {

    /* Banner */

    .banner {
        grid-template-columns: 50% repeat(2, auto);
    }

    .banner img:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .banner img:nth-child(4) {
        grid-column: 3/4;
        grid-row: 1/3;
    }
    
}
